/* *************** reset ***********************/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins' , sans-serif;
}

/* ********************Card************************* */

.container {
    display: flex;
    justify-content: center;
    padding: 3.2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;
    background-color: white;
    width: 300px;
    height: 370px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),
    0 2px 4px -2px rgba(0,0,0,.1);
  }
  
  .header {
    position: relative;
    background-clip: border-box;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(2, 2, 2, 0.7),0 4px 6px -4px rgba(33,150,243,.4);
    height: 100vh;
    background-image: url(./assets/quizimgjpg.jpg);
    background-position: center;
    background-size: cover ;
  }
  
  .info {
    border: none;
    padding: 1.5rem;
    text-align: center;
  }
  
  .title {
    color: rgb(38 50 56);
    letter-spacing: 0;
    line-height: 1.375;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .footer {
    padding: 0.75rem;
    border: 1px solid rgb(236 239 241);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.089);
  }
  
  .action {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(33,150,243,.4),0 2px 4px -2px rgba(33,150,243,.4);
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(56, 59, 59);
    border-radius: 0.5rem;
  }

  a {
    text-decoration: none;
    color: aliceblue;
  }

  /* ***********************Header********************* */

  .hautDepage{
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: rgb(56, 59, 59);
  }
  /* .piedDepage{
    height: 50px;
    width: 100%;
    background-color: rgb(12, 113, 201);
    padding: 2rem 0 1rem 0;
  }
   */
  